
	<footer>
		<div class="footer-left">
			<span class="player-indicator">1UP</span>
			<span class="highscore">HIGH SCORE 123456</span>
		</div>
		<div class="footer-center">
			<a class="arcade-btn" href="login" id="joinBtn">ПРИСОЕДИНИТЬСЯ</a>
		</div>
		<div class="footer-right">
			<a href="#" class="social-link">📘</a>
			<a href="#" class="social-link">🐦</a>
			<a href="#" class="social-link">📺</a>
			<a href="#" class="social-link">👾</a>
		</div>
	</footer>
</div>
