
            <section class="hero">
                <h2 class="glitch" data-text="ПОСЛЕДНИЕ НОВОСТИ ИГРОВОЙ ИНДУСТРИИ">ПОСЛЕДНИЕ НОВОСТИ ИГРОВОЙ ИНДУСТРИИ</h2>
            </section>

            <section class="news-section">
                <h2 class="section-title blink">🔥 СВЕЖИЕ НОВОСТИ 🔥</h2>
                <%= render 'blocks/article_part' %>
                <div class="pagination" id="pagination"></div>
            </section>


